#日志文件
errors.txt
log.txt
traceback.txt

# 字体
*.ttf

# 编译好的文件
*.rpyc
*.rpyb
*.rpymc


# apk
*.apk

#画像
*.img
*.jpg
*.png
*.gif

#音声
*.ogg
*.mp3
*.wav
*.m4a

#DBダンプ
*.db

#DSストア
*.DS_Store

#一時ファイル
*.swp
#keystore
*.keystore

# 存档
saves/
Asayake-1.0-dists/