#資材フォルダなど、コードではないもの
data/bgimage
bgm/
fgimage/
others/
sound/
video/

#画像
*.img
*.jpg
*.png
*.gif
*.psd

#音声
*.ogg
*.mp3
*.wav
*.m4a

#DBダンプ
*.db

#DSストア
*.DS_Store

#ライブラリ
tyrano/libs/

#Tyrano本体
tyrano/

#一時ファイル
*.swp
